<div>
	<form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
	
		 <div class="input-prepend">
			<span class="add-on"><i class="icon-user"></i></span>
			<input class="focus" type="text" name="_username" required="required" placeholder="{{ 'login.username'|trans }}" />
		</div>

		 <div class="input-prepend">
			<span class="add-on"><i class="icon-lock"></i></span>
			<input type="password" name="_password" required="required" placeholder="{{ 'login.password'|trans }}" />
		</div>
		  
		<input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
		
		<button class="btn" type="submit">{{ 'login.submit'|trans }}</button>
	</form>
</div>
