{% extends '::base.html.twig' %}

{% block title %}Inquiry - show{% endblock %}



{% block body -%}
    <h1>Inquiry</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Traveller</th>
                <td>{{ entity.traveller }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions btn-group">
    <li>
        <a class="btn" href="{{ path('inquiry') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn" href="{{ path('inquiry_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('inquiry_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
